@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6,
.text-7,
.text-8 {
  font-family: "Roboto";
  color: #fff;
}

.text-1 {
  font-weight: 700;
  font-size: 24px;
}

.text-2 {
  font-weight: 400;
  font-size: 24px;
}

.text-3 {
  font-weight: 700;
  font-size: 20px;
}

.text-4 {
  font-weight: 400;
  font-size: 20px;
}

.text-5 {
  font-weight: 400;
  font-size: 18px;
}

.text-6 {
  font-weight: 400;
  font-size: 16px;
}

.text-7 {
  font-weight: 400;
  font-size: 14px;
}

.text-8 {
  font-weight: 700;
  font-size: 14px;
}

.horizontal-separator {
  background-color: #334562;
  width: 100%;
}

.vertical-separator {
  background-color: #334562;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  width: 100%;
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 50px;
  background-color: #343a40;
}

.logo {
  display: grid;
  grid-template-columns: 1fr;
  width: 350px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 400px;
  color: #fff;
  margin-left: 40px;
}

.main {
  display: grid;
  grid-template-columns: 200px 4fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  gap: 40px;
  padding: 40px;
  justify-items: center;
  align-items: center;
}

.components {
  display: grid;
  grid-template-rows: 50px 1fr;
  justify-items: center;
  gap: 30px;
  width: 200px;
  height: 950px;
  border: 1px solid #334562;
  border-radius: 10px;
}

.components-title {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 200px;
  width: 100%;
  font-family: "Roboto";
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.components-wrapper {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  gap: 30px;
  justify-items: center;
  width: 100%;
  overflow-y: scroll;
}

.components-wrapper::-webkit-scrollbar {
  width: 5px;
}

.components-wrapper::-webkit-scrollbar-thumb {
  background-color: #334562;
  border-radius: 5px;
}

.component-image1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 96px;
  height: 96px;
  border: 1px solid #fff;
  background: url("../images/component_1.png");
}

.active {
  box-shadow: 1px 1px 50px 0px #e7e6e6;
}

.main-card {
  display: grid;
  grid-template-columns: 3fr 3px 2fr 3px 1fr;
  grid-template-rows: 890px;
  width: 100%;
  height: 950px;
  padding: 30px;
  border: 1px solid #334562;
  border-radius: 10px;
  gap: 20px;
}

.main-card-left-side {
  display: grid;
  grid-template-columns: 96px 1fr;
  grid-template-rows: 180px 300px 1fr;
  justify-items: left;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-rows: 210px 310px;
  min-width: 700px;
}

.main-card-left-side-head {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px;
  justify-items: left;
  color: #fff;
}

.main-card-head-item-img {
  background: url("../images/component_1.png");
  width: 96px;
  height: 96px;
}

.item-info {
  display: grid;
  grid-template-rows: repeat(4, 30px);
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.item-name-title,
.item-type {
  display: grid;
  grid-column: 1/3;
}

.token {
  display: grid;
  grid-template-columns: 32px 32px;
  grid-template-rows: 1fr;
  row-gap: 10px;
}

.token-img {
  background: url("../images/token-img.png");
  width: 32px;
  height: 100%;
}

.production-requirements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 3px 262px 3px;
  grid-column: 2;
  width: 100%;
  justify-items: left;
  color: #fff;
}

.production-requirements-title {
  display: grid;
  grid-template-rows: 30px;
  justify-self: left;
}

.production-requirements-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 45px repeat(4, 40px) 50px;
  width: 500px;
  justify-items: center;
  align-items: center;
}

.resourses-img_1 {
  background: url("../images/res_1.png");
}

.resourses-img_2 {
  background: url("../images/res_2.png");
}

.resourses-img_3 {
  background: url("../images/res_3.png");
}

.resourses-img_4 {
  background: url("../images/res_4.png");
}

.resourses-img_5 {
  background: url("../images/res_5.png");
}

.resourses-img_6 {
  background: url("../images/res_6.png");
}

.resourses-img_7 {
  background: url("../images/res_7.png");
}

.resourses-img_1,
.resourses-img_2,
.resourses-img_3,
.resourses-img_4,
.resourses-img_5,
.resourses-img_6,
.resourses-img_7 {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
}

.value-white {
  color: #fff;
}

.value-orange {
  color: #ff9900;
}

.total-resourses-cost {
  display: grid;
  grid-column: 1/4;
  justify-self: left;
  margin-left: 20px;
}

.required-components {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 3px 1fr 3px 1fr 3px;
  grid-column: 2;
  row-gap: 10px;
  width: 100%;
}

.required-components-title {
  display: grid;
  grid-template-rows: 30px;
  text-align: center;
  justify-self: left;
  margin-left: 20px;
}

.item-required {
  display: grid;
  grid-template-columns: 96px 1fr;
  grid-template-rows: 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 100%;
}

.item-required-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.component-image_8 {
  background: url("../images/component_8.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.item-required-resources-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 20px) 25px;
  row-gap: 5px;
  width: 70%;
  justify-items: center;
  align-items: center;
  margin-left: 105px;
}

.small {
  width: 20px;
  height: 20px;
}

.main-card-middle-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr 1fr;
  width: 100%;
  height: 100%;
}

.production-cost {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 1fr 3px;
  width: 500px;
}

.production-cost-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25px repeat(8, 40px);
  row-gap: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.machine-rental {
  display: grid;
  grid-column: 1/4;
  justify-self: left;
  margin-left: 20px;
}

.total {
  display: grid;
  grid-column: 1/4;
  justify-self: left;
  margin-left: 50px;
}

.components-cost {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr 3px;
  margin-top: 10px;
}

.components-cost-title {
  display: grid;
  grid-template-columns: 210px 1fr;
  grid-template-rows: 25px;
}

.switch-btn {
  display: inline-block;
  width: 50px; /* ширина переключателя */
  height: 23px; /* высота переключателя */
  border-radius: 12px; /* радиус скругления */
  background: #334562; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
  align-self: center;
}

.switch-btn::after {
  content: "";
  height: 19px; /* высота кнопки */
  width: 19px; /* ширина кнопки */
  border-radius: 18px; /* радиус кнопки */
  background: #fff; /* цвет кнопки */
  top: 2px; /* положение кнопки по вертикали относительно основы */
  left: 2px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  box-shadow: 0 0 10px 0 #999999; /* тень */
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #d8d8d8;
  box-shadow: inset 0 0 10px 0 #999999; /* тень */
}

.switch-on::after {
  left: 30px;
  background: #ff9900;
}

.components-cost-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25px repeat(4, 40px);
  row-gap: 10px;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.small-component-img {
  width: 40px;
  height: 40px;
}

.component-img-small_2 {
  background: url("../images/component-small_2.png");
}

.component-img-small_3 {
  background: url("../images/component-small_3.png");
}